In [1]:
import pandas as pd
import numpy as np

## Puzzle 1

In [2]:
df = pd.read_csv("input_data/adventcode3.txt",header=None, usecols=[0])
df.columns = ['puzzle_input']

In [3]:
df

                        puzzle_input
0    .#..............##....#.#.####.
1    ##..........#.....##...........
2    .......#....##...........#.#...
3    .........#.#...#..........#....
4    .........#..#................##
..                               ...
318  ...#....#.#...........#........
319  .........................#.#...
320  .#..#...........#.#........#...
321  .............#.#.....#..#....#.
322  .....#...#.###...#..#........#.

[323 rows x 1 columns]

In [4]:
#https://stackoverflow.com/questions/43848680/pandas-split-dataframe-column-for-every-character
df = df['puzzle_input'].apply(lambda x: pd.Series(list(x)))

In [5]:
df.shape

(323, 31)

In [6]:
len(df)

323

In [7]:
df

    0  1  2  3  4  5  6  7  8  9   ... 21 22 23 24 25 26 27 28 29 30
0    .  #  .  .  .  .  .  .  .  .  ...  .  #  .  #  .  #  #  #  #  .
1    #  #  .  .  .  .  .  .  .  .  ...  .  .  .  .  .  .  .  .  .  .
2    .  .  .  .  .  .  .  #  .  .  ...  .  .  .  .  #  .  #  .  .  .
3    .  .  .  .  .  .  .  .  .  #  ...  .  .  .  .  .  #  .  .  .  .
4    .  .  .  .  .  .  .  .  .  #  ...  .  .  .  .  .  .  .  .  #  #
..  .. .. .. .. .. .. .. .. .. ..  ... .. .. .. .. .. .. .. .. .. ..
318  .  .  .  #  .  .  .  .  #  .  ...  .  #  .  .  .  .  .  .  .  .
319  .  .  .  .  .  .  .  .  .  .  ...  .  .  .  .  #  .  #  .  .  .
320  .  #  .  .  #  .  .  .  .  .  ...  .  .  .  .  .  .  #  .  .  .
321  .  .  .  .  .  .  .  .  .  .  ...  #  .  .  #  .  .  .  .  #  .
322  .  .  .  .  .  #  .  .  .  #  ...  .  .  .  .  .  .  .  .  #  .

[323 rows x 31 columns]

In [8]:
df = pd.concat([df] * len(df), axis=1, ignore_index=True)

In [9]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,10003,10004,10005,10006,10007,10008,10009,10010,10011,10012
0,.,#,.,.,.,.,.,.,.,.,...,.,#,.,#,.,#,#,#,#,.
1,#,#,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,.
2,.,.,.,.,.,.,.,#,.,.,...,.,.,.,.,#,.,#,.,.,.
3,.,.,.,.,.,.,.,.,.,#,...,.,.,.,.,.,#,.,.,.,.
4,.,.,.,.,.,.,.,.,.,#,...,.,.,.,.,.,.,.,.,#,#

In [10]:
#starting coords
x=0
y=0
tree_counter= 0


while x < len(df):
    
    #check if location is tree
    if df.iloc[x,y] == '#':
        tree_counter += 1

    x +=1
    y +=3

        
print(tree_counter)

193

## Puzzle 2

In [11]:
def sudden_arboreal_stop_checker(slope_y, slope_x):

    x=0
    y=0
    tree_counter= 0


    while x < len(df):

        #check if location is tree
        if df.iloc[x,y] == '#':
            tree_counter += 1

        x +=slope_x
        y +=slope_y


    return tree_counter

In [12]:
r3d1 = sudden_arboreal_stop_checker(3,1)
r3d1

193

In [13]:
answer = (sudden_arboreal_stop_checker(1,1) * 
            sudden_arboreal_stop_checker(3,1) *
            sudden_arboreal_stop_checker(5,1) *
            sudden_arboreal_stop_checker(7,1) *
            sudden_arboreal_stop_checker(1,2)) 
        
answer

1355323200